@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");

html, body {
    height: 100%;
}

body {
  background: #dddddd;
}

#parent_div {
    height: 100%;
    padding: 10px;
    display: block;
}

.canvas {
    padding: 2px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}

#my_Canvas {
    width: 98%;
    height: 90%;
    margin: auto;
    display: block;
}

#ui {
    padding: 5% 2%;
    display: block;
    /*border: 2px solid black;*/
    width: auto;

}

#uiContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
    border: 2px solid #aaaaaa;
    margin: 1% 2%;
    background-color: rgba(221, 221, 221, 0.32);
}
